@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-items: center;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 83%;
    padding: 2.7vw 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.header-logo {
    margin-left: 4.8vw;
    transition: opacity 0.5s;
}

#menu__toggle {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
}

.menu__item,
.menu__item-mobile {
    position: relative;
    margin-right: 1.4vw;
    font-size: 0.9vw;
    text-decoration: none;
    color: #2E1449;
    transition: opacity 0.5s;
}

.menu__item-mobile {
    display: none;
}

.menu__item::after,
.menu__item-mobile::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 0;
    background: #7400E8;
    opacity: 0;
    transition: opacity 0.5s, width 0.5s;
}

.menu__icon {
    margin-right: 1.2vw;
    transition: opacity 0.5s;
}

.menu__icon:last-child {
    margin-right: 0;
}

.menu__item:hover::after,
.menu__item-mobile:hover::after {
    opacity: 1;
    width: 100%;
}

.main {
    padding-bottom: 10vw;
    display: flex;
    width: 100%;
    background: right bottom / 60.3vw 39.7vw no-repeat url(./img/Vector-4.png),
                right bottom / 52.5vw 33.5vw no-repeat url(./img/Vector-3.png);
}

.description {
    margin: 13.1vw 15vw 0 13.3vw;
    width: 30.8vw;
    height: max-content;
}

.description__title {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.2px;
    line-height: 3.6vw;
    font-weight: 700;
    font-size: 3vw;
    width: 93%;
    margin-bottom: 2.4vw;
}

.description__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1vw;
    width: 95%;
    margin-left: 0.6vw;
    letter-spacing: 0.8px;
    line-height: 1.3vw;
}

.props {
    display: flex;
    flex-direction: column;
    width: 20.8vw;
    height: max-content;
    margin: 15.8vw 0 0 0;
}

.props__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    letter-spacing: 1.4px;
    margin-bottom: 1vw;
}

.form {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.form__input {
    border: none;
    border-radius: 5px;
    height: 2.6vw;
    margin-bottom: 0.9vw;
    font-size: 1.1vw;
}

.form__input::-webkit-input-placeholder {
    font-size: 1.1vw;
    letter-spacing: -0.5px;
    padding-left: 0.75vw;
}

.form__button {
    width: 100%;
    height: 2.8vw;
    padding-right: 0.8vw;
    letter-spacing: 0.2px;
    font-size: 1.05vw;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #7400E8;
    margin-bottom: 0.9vw;
    transition: opacity 0.5s;
}

.header-logo:hover,
.menu__item:hover,
.menu__item-mobile:hover,
.menu__icon:hover,
.form__button:hover {
    opacity: 0.7;
}

.props__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.props__text span {
    text-decoration: underline;
}

.footer {
    height: 1.2vw;
    width: 100%;
    background-color: #7400E8;
}

@media (max-width: 1500px) {
    .header {
        padding: 3vw 0;
        width: 77%;
    }

    .header-logo {
        margin-left: 0.1vw;
    }

    .menu__item {
        margin-right: 1.9vw;
        font-size: 1vw;
    }

    .menu__icon {
        margin-right: 1.7vw;
        padding-top: 0.2vw;
    }

    .menu__icon:last-child {
        margin-right: 0.1vw;
    }

    .menu__icon > img {
        width: 24px;
        height: 24px;
    }

    .main {
        background: right top / 58.2vw 48.7vw no-repeat url(./img/1366Vector.svg),
                    right top / 46.4vw 71.9vw no-repeat url(./img/1366Vector-2.svg);
    }

    .description {
        margin: 10.4vw 14.8vw 0 16.2vw;
    }

    .description__title {
        font-size: 3.2vw;
        line-height: 3.85vw;
        letter-spacing: 0.2px;
        margin-bottom: 1.7vw;
    }

    .description__text {
        margin-left: 0;
        letter-spacing: 0.17px;
    }

    .props {
        margin: 12.7vw 0 0 0;
        width: 21.95vw;
    }

    .props__title {
        font-size: 1.3vw;
        letter-spacing: 0.9px;
    }

    .form__input {
        height: 2.8vw;
        margin-bottom: 0.85vw;
        letter-spacing: -0.9px;
    }

    .form__button {
        height: 2.9vw;
        padding-right: 1.5vw;
        letter-spacing: 0.2px;
        font-size: 1vw;
    }

    .props__text {
        font-size: 0.88vw;
    }

    .footer {
        height: 1.8vw;
    }
}

@media (max-width: 1300px) {
    .header {
        padding: 4vw 0;
        width: 91%;
    }

    .header-logo {
        margin-left: 0.5vw;
    }

    .menu__item {
        margin-right: 2.35vw;
        font-size: 1.4vw;
        padding-bottom: 0.3vw;
    }

    .menu__icon {
        margin-right: 2.3vw;
        padding-top: 0.2vw;
    }

    .menu__icon:last-child {
        margin-right: 0.1vw;
    }

    .main {
        background: right top / 61vw 65.2vw no-repeat url(./img/1024Vector.svg),
                    right top / 51vw 72.5vw no-repeat url(./img/1024Vector-2.svg);
    }

    .description {
        margin: 14.1vw 22.2vw 0 5vw;
        width: 38.5vw;
    }

    .description__title {
        font-size: 4.4vw;
        line-height: 4.9vw;
        letter-spacing: -0.5px;
        margin-bottom: 2.7vw;
        width: 100%;
    }

    .description__text {
        font-size: 1.4vw;
        margin-left: 0;
        letter-spacing: -0.14px;
        line-height: 1.6vw;
    }

    .props {
        margin: 16.9vw 0 0 0;
        width: 29.3vw;
    }

    .props__title {
        font-size: 1.7vw;
        letter-spacing: 1.05px;
        margin-bottom: 1.4vw;
    }

    .form__input {
        height: 3.7vw;
        margin-bottom: 1.2vw;
        letter-spacing: 1.4px;
        font-size: 1vw;
    }

    .form__input::-webkit-input-placeholder {
        padding-left: 1vw;
        font-size: 1.1vw;
    }

    .form__button {
        height: 3.9vw;
        font-size: 1.3vw;
        margin-bottom: 1vw;
        padding-right: 2vw;
        letter-spacing: 0.2px;
    }

    .props__text {
        font-size: 1.2vw;
        letter-spacing: -0.1px;
    }

    .footer {
        height: 2.4vw;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 8.4vw 0;
        font-family: 'museo_sans_cyrl500', sans-serif;
    }

    .header-logo {
        margin-left: 3.1vw;
    }
    
    #menu__toggle {
        display: block;
        opacity: 0;
    }
      
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu {
        visibility: visible;
        left: 0;
    }
    
    /*Сам бургер*/
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 48px;
        right: 24px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        z-index: 1;
    }

    /*Стили полосок бургера*/
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #A563E7;
        transition-duration: .25s;
    }

    .menu__btn > span::before {
        content: '';
        top: -7px;
    }

    .menu__btn > span::after {
        content: '';
        top: 7px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        visibility: hidden;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 157px 0;        
        background-color: #FFFFFF;        
        transition-duration: .5s;
    }

    .menu__item {
        display: none;
    }

    .menu__item-mobile {
        display: inline;
        font-size: 7.7vw;
        letter-spacing: 0.5px;
        margin: 0 0 7.2vw;
        color: #000;
    }

    .menu__item-mobile::after {
        background: #000;
    }

    .menu__icon {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 85%;
        text-align: center;
        background: center bottom / 105vw 67.8vw no-repeat url(./img/mobileVector.svg);
    }

    .description {
        margin: 0 0 23vw;
        width: 80%;
        padding-top: 6.7vw;
    }

    .description__title {
        font-size: 9.5vw;
        line-height: 11vw;
        letter-spacing: -0.2px;
        margin: 0 auto 6.8vw;
    }

    .description__text {
        font-size: 4.4vw;
        margin: 0 auto;
        letter-spacing: -0.2px;
        line-height: 5.2vw;
    }

    .props {
        margin: 0 auto;
        width: 80%;
        text-align: left;
    }

    .props__title {
        font-size: 4.7vw;
        letter-spacing: 1px;
        margin-bottom: 3.7vw;
    }

    .form__input::-webkit-input-placeholder {
        font-size: 3.8vw;
        line-height: 4vw;
        padding-left: 2.8vw;
    }

    .form__input {
        height: 10.2vw;
        margin-bottom: 3.2vw;
        letter-spacing: -0.6px;
        font-size: 4vw;
    }

    .form__button {
        height: 10.7vw;
        font-size: 3.6vw;
        margin-bottom: 3vw;
        padding-right: 5.4vw;
    }

    .props__text {
        font-size: 3.3vw;
        letter-spacing: -0.15px;
    }
    
    .footer {
        display: none;
    }
}